.App {
  margin: auto;
  background-color: #4380b5;
}

.App h1 {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {

  background-color: #263238;
  height: 175px;
  padding: 20px;
  color: white;
  text-align: center;
}


.App-intro {
  font-size: large;
}

.Header-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.Main {
  width: 60%;
  margin: auto auto 30px;
}

.Form {
  width: 60%;
  margin: 50px auto 40px;
}

.Form h3 {
  text-align: center;
}

.ListItem {
  margin: 30px auto;
}